# Jubilee Lending — Environment Variables

# Deployer private key (NO 0x prefix)
PRIVATE_KEY=5403c63686c54ef8226f641b7af97fdb320e6476a99f7b66cb7163d0b2d337a4

# Base Sepolia RPC #CMPGFB
BASE_SEPOLIA_RPC_URL=https://base-sepolia.g.alchemy.com/v2/WLeOoeEDC1D0_fLqk-LfI

# Base Mainnet RPC (for production) #CMPGFB
BASE_RPC_URL=https://base-mainnet.g.alchemy.com/v2/WLeOoeEDC1D0_fLqk-LfI 

# BaseScan API key (for contract verification)
BASESCAN_API_KEY=B91X8H9HJQZIU8FMGRGPQEDZHHNRJVEPFT
